tensorrt
numpy
transformers==4.8.0
torch <= 1.11
sentencepiece==0.1.95; python_version<"3.10"
sentencepiece==0.1.97; python_version>="3.10"
--extra-index-url https://pypi.ngc.nvidia.com
onnx==1.9.0; python_version<"3.8"
onnx==1.12.0; python_version>="3.8"
onnx_graphsurgeon
polygraphy
